/* motif-cap · 教育/学术/毕业帽 */
.tldr.motif-cap::after {
  content: "";
  position: absolute;
  right: 30px; top: 46%; transform: translateY(-50%);
  width: 44px; height: 22px;
  background: rgba(240,180,41,.9);
  clip-path: polygon(50% 0, 100% 45%, 50% 90%, 0 45%);
  opacity: .8;
  pointer-events: none;
}
.tldr.motif-cap::before {
  content: "";
  position: absolute;
  right: 47px; top: 60%;
  width: 2.5px; height: 14px;
  background: rgba(255,255,255,.7);
  box-shadow: 0 12px 0 1px rgba(255,255,255,.7);
  opacity: .8;
  pointer-events: none;
}
